body {
    margin:0;
    font-size: 14;
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
}
h1 {
    font-family: 'Philosopher', sans-serif;
}
.trns-text {
    width: 100%;
  background: url(https://img.freepik.com/free-photo/colorful-dramatic-sky-with-cloud-sunset-sky-with-sun-background_33736-1538.jpg?size=626&ext=jpg)   20px 20px no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display:block;
  font-size: 4em;
  font-family: "philosopher", "sans serif";
  text-align: center;
  font-weight: 700;
  letter-spacing: 10px;
  background-size: cover;
  background-position: -87% 15%;
  margin: 0;

}

.about {
    width: 100%;
}
.image {
    width: 100%;
    text-align: center;
}

.text {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.8 rem
}

.image {
    width: 100%;
    /* display:flex;
    flex-direction: row; */
    align-items: center;
    transform: rotate(3deg);
}

@media (min-width: 980px) {
    .flex-container {
        display-flex;
        flex-direction: row;
    }
    .text {
        width: 50%;
    }
}