body {
    font-size: 1.125rem;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: "philosopher", "sans-serif";
}
.trns-text {
    background: url(https://img.freepik.com/free-photo/colorful-dramatic-sky-with-cloud-sunset-sky-with-sun-background_33736-1538.jpg?size=626&ext=jpg)   20px 20px no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display:block;
    width: 100%;
    font-size: 4em;
    font-family: "Arial";
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    background-size: cover;
    background-position: -87% 15%;
    margin: 0;

}
.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}


/*  Layout  */


.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
    transform: rotate(-10deg);
}

.columns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;    
}

.col-bg {
    background: #212614;
    color: #fff;
    padding: 1em;
}

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
    
    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
    }
}

